body,ul,li,p,a,h1,h2,h3,h4,h5,h6{padding:0; margin:0; list-style: none; text-decoration: none;}
body{background: #F6F6F6;}
*:focus {outline: none;}
a, input { blr:expression(this.onFocus=this.blur()) }
.fl{float: left;}
.fr{float: right}
.clearfix{display:block; height: 1px; clear:both; width: 100%; font-family: Microsoft YaHei;}
.header{height: 53px; width: 100%; min-width: 1000px; background:#fff}
.border_line{background:#32a6dc url(../images/page_header_border_line.jpg) no-repeat left bottom; width:100%; height: 3px;}
.header_content{width: 93%; margin:0 auto; height: 53px;}
.logo{width:280px; height: 35px; padding-top: 6px;}
.admin_info{width:40%; min-width:300px; height: 50px;}
.container-fluid{ position:relative;}
.admin_img{background: url(../images/CMS_control.png) no-repeat -10px -280px; width: 37px; height: 53px;}
.admin_name{font-size: 14px; color: #7D7D7D;  height: 53px; line-height: 53px; display: inline-block; padding-left: 15px; }
.trigle{width:20px; height: 37px; display: inline-block; background: url(../images/CMS_control.png) no-repeat -52px -278px;  }
.container_left{width: 211px; margin-right: 13px; margin-top: 13px; border: 1px solid #f1f1f1; padding-top: 13px; padding-bottom: 10px; border-radius:5px; background: #fff; box-shadow: 0px 2px 5px #f1f1f1;}
.menu_title{padding-left:15px; color: #B0B0B0; height: 30px;}
.menu_icon{background: url(../images/CMS_control.png)no-repeat -13px -13px; width: 30px; height: 20px; display: inline-block;}
.menu_title h5{display: inline-block; font-size: 16px;}
.container_right{ padding-top: 20px; padding-left: 15px; overflow-x:hidden; overflow-y:auto; padding-right: 15px; border: 1px solid #f6f6f6; margin-left: 224px; width: 100%; border-radius:5px; background: #fff; box-shadow: 0px 2px 5px #f1f1f1; margin-top: 13px; position: absolute;}
.container_left ul li{ height: 40px; line-height: 40px; border-top:1px solid #ededed; color: #000}
.container_left ul a{ color: #333; font-size: 16px; text-decoration: none;}
.container_left ul a:hover{ color: #BA2747;}
.menu_active{width: 40px; height: 25px; margin-top: 6px; display: inline-block;}
.event_active .menu_active{background: url(../images/CMS_control.png)no-repeat 0px -34px;}
.container_left ul .event_active a{color: #5cb3e1}
.menu_style{ display: inline-block; height: 40px;}
.newstopic{margin-bottom: 10px; height: 40px;}
.newstopic h3{width: 180px; float: left;}
.newstopic .form-control{ width: 260px; border-radius: 0px; height: 36px; font-size: 16px;border:1px solid #e9e9e9; }
.newstopic .btn-default{border-radius: 0px; height: 36px; border:1px solid #e9e9e9; border-left: 0px; width: 50px; margin-left: -5px; background:url(../images/CMS_control.png) no-repeat 0px -185px;}
.searchinput{ width:200px; height: 40px; line-height: 40px;}
.newslist{border:1px solid #E9E9E9;border-top: 0px; margin-bottom: 30px;}
.newslist .table{margin-bottom: 0}
.newslist .table label{font-weight: normal; color: #333;}
.newslist th{background:#f6f6f6; color: #B0B0B0; font-weight: normal;border-top:none!important;}
.inputset{height:36px; border:1px #e9e9e9 solid; padding:0 5px;}
.off_left{margin-left: -6px}
.left_btn_type{height: 36px;}
/*.left_btn_first{height: 36px; width:114px; border:1px solid #e9e9e9; text-align: center; line-height: 36px; display: inline-block; padding:0 10px; border-bottom-left-radius: 3px; border-top-left-radius: 3px; float: left;}*/
.left_btn_first{height: 36px; width:114px; border:1px solid #e9e9e9; text-align: center; line-height: 36px; display: inline-block; padding:0 10px; border-radius: 3px;}
.left_btn_second{height: 36px; width:114px; line-height: 36px; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; padding:0 10px; float: left; text-align: center; display: inline-block;}
.left_btn_three{height: 36px; width:100px; line-height: 36px; border: 1px solid #e9e9e9; border-right: 0px;  padding:0 10px; float: left; text-align: center; display: inline-block;}
.left_btn_four{height: 36px; width:84px; line-height: 36px; border:1px solid #e9e9e9; text-align: center; display: inline-block; padding:0 10px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; float: left;}
/*.cur_type:hover{background: #7dcb7b; color: #fff; border-color: #7dcb7b; cursor: pointer;}*/
.cur_type{background: #7dcb7b; color: #fff; border-color: #7dcb7b; cursor: pointer;}
.cur_type:hover{border-color: #139014;}
.cur_type .hover_icon{width: 20px; color: #fff; border-color: #7dcb7b}
/*.cur_type:hover .hover_icon{width: 20px; color: #fff; border-color: #7dcb7b}*/
.cur_type:hover .hover_icon{width: 20px; color: #fff; border-color: #7dcb7b}
.cur_type .hover_icon{ display: inline-block; height:36px; float: left; line-height: 36px; background: url(../images/CMS_control.png) no-repeat -70px -185px;}
.checktodo{width:30px;}
.pushstatus{width: 100px}
.contolnews{width: 150px}
.newslist .supplementary label{ color: #bdbdbd}
.btn_edit{width:36px; height: 24px; line-height: 24px;  background: url(../images/CMS_control.png) no-repeat -65px -370px; cursor: pointer; text-align:left;}
.btn_view{width:19px; height: 15px; margin-top: 5px; cursor: pointer;  background: url(../images/view.png) no-repeat; }
input[type=checkbox]{width: 18px; height: 18px}
.btn_push{background: #73A6EC; border:0px; width:60px; height: 25px; line-height: 25px; font-size: 14px;}
.btn_push:hover{background:#3B81E4}
.push_all:hover{background: #44A842 }
.push_all{background: #7DCB7B; border:0px; width:85px; font-size: 14px; height: 30px}
.delete_item{ padding-left:15px; padding-right: 15px; height: 30px; font-size: 14px; background: #f2f2f2; border:0px; color: #333}
.delete_item:hover,.btn-cancel:hover,.btn_del:hover{background:#E4E4E4; color: #333; text-decoration: none;}
.newslist tbody > tr > td{border-top: 1px solid #f1f1f1}
.newslist tbody > tr > td.totaldata{height: 20px; padding-top: 20px; padding-bottom: 20px;}
.btn-cancel{background: #eee; color: #333; height: 30px; font-size: 13px;}
.addnews{padding-left:20px; padding-right: 20px; padding-bottom: 40px;}
.addnews h2{color: #707070}
.group_f label{ font-weight: normal; font-size: 17px; display: inline-block; color: #707070; height: 35px; line-height: 35px}
.selectstyle{ height: 30px; border:1px solid #dbdbdb; border-radius: 4px; width: 120px}
.group_f .selecttitle{width: 60%; min-width: 200px;}
.margin_b{margin-bottom: 25px; height: 80px;}
.help-block{font-size: 18px; color: #707070; height: 55px; line-height: 55px; padding-top: 16px;}
.getrepeatname{padding-bottom: 50px}
.getrepeatname li{ float: left; padding-right: 25px;  font-weight: normal; font-size: 16px; color: #686868;margin-bottom: 10px; }
.getrepeatname .nopadding{padding-right:0px;}
.getrepeatname .addmoretag{ position: relative; padding-right: 10px; cursor: pointer; background: #337ab7; border:0px;  border-radius: 4px;}
.tagsetmore{ position: absolute; z-index: 1; background: #fff; width: 400px; padding:15px;  border-radius:4px; border:1px solid #ccc; top: -60px; left: 75px;}
.tagsetmore .typepill{max-height: 150px; overflow: auto;}
.getrepeatname .addmoretag span{display: inline-block;}
.getrepeatname .addmoretag .addicon{width:25px;  background:url(../images/CMS_control.png) no-repeat -12px -370px; display: inline-block; height: 25px;}
.getrepeatname label{ font-weight: normal;}
.getrepeatname .contentlists{ width: 100%; clear: both;}
.groupshow{display: inline-block; line-height: 40px;}
.required{color: #ff0000}
.hadchoice{display: inline-block; background: #eee; padding:0 10px; padding-right: 15px; margin-right: 10px;}
.hadchoice_span{display: inline-block; height:40px; line-height: 40px; padding:0 10px; margin-right: 10px;}

.padding_b{ padding-bottom: 5px;}
.submitok{ width: 100px; cursor: pointer; height: 35px; line-height: 35px; border-radius: 4px; font-size: 16px; text-align: center; background:#7DCB7B; color: #fff; float: right}
.resitehr{ margin-top: 5px; margin-bottom: 5px;}
.resetheighthr{margin-top: 15px; margin-bottom: 5px}
.addnew_btn{width: 151px; border:0px; background: #48D464; font-size: 20px; color: #fff;}
.addnew_btn:hover{ background: #2EBE47; color: #fff;}
.cansel_btn{width: 121px; border:0px; background: #ccc; font-size: 20px; color: #fff;}
.cansel_btn:hover{ background: #c2c2c2; color: #fff;}


.typefont{ font-weight:normal; font-size: 14px; font-weight: bold; overflow:hidden; text-indent: 50px;  font-family: Arial; width: 40px;  background: url(../images/CMS_control.png)no-repeat -6px -368px;  border:1px solid #dbdbdb;}
.border{border: 1px solid #dbdbdb; border-radius: 4px;  margin-top: 20px; width:70%;}
.border > li > a{ padding:5px 10px 3px 10px; }
.border img{ margin-left: 10px}
.groupselect{line-height: 35px; border:1px solid #dbdbdb; border-radius: 4px; }
.groupmanager{border: 1px solid #dbdbdb; max-height: 200px; margin-top:15px; padding-bottom: 10px; margin-right:20px; border-top-left-radius:4px; border-top-right-radius:4px;  float: left; width: 200px;}
.groupmanager h5{height: 30px; text-align: center; border-bottom: 1px solid #dbdbdb;  line-height: 30px; font-size: 14px; background: #f8f8f8; font-weight: normal; color:#aaa;}
.usergrouplist{height: 30px; line-height: 30px;}
.usergrouplist a{display: block; padding: 0 10px}
.usergrouplist a:hover{background: #f8f8f8}
.usergrouplist a label{ font-weight: normal;}
.selectkeystyle{ height: 40px; border:1px solid #dbdbdb; border-radius: 4px; }
.btn_del{width:56px;height: 24px; line-height: 24px; cursor: pointer;  color: #333; text-decoration: none; display: inline-block; border:0; border-radius: 4px; background:#f2f2f2; text-align: center;}
.uploadimg_list{width: 100%; padding:0; margin:0; clear: both;}
.uploadimg_list li{width:80px; height: 80px; margin-right: 10px; float: left; list-style:none;}
.uploadimg_list img{width: 80px; height: 80px}
.imgGroup input[type="file"]{display: inline; float: left;}
.emptystyle{font-size: 14px; color: #666; text-align:center; height: 30px; line-height: 30px;}
.navdescription{ font-size: 14px; color: #999; line-height: 30px; padding-left: 10px;}
.typecontrol{border-radius: 0px; height: 34px; border:1px solid #ccc; border-left: 1px solid #ccc; width: 50px; margin-left: -7px; background:#fff url(../images/CMS_control.png) no-repeat 0px -187px;}
.input_width{width:300px!important;}
.Required{color: #ff0000; display: inline-block;}
.heightauto{ height: auto;}
.alarm{ color:#ff0000;}
.grouptag{width: 95px; text-align: center;text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-weight: normal; border:1px solid #ccc; border-radius: 4px; height: 33px; line-height: 33px; margin-right: 5px; float: left}
.grouptag:hover{background: #ddd; cursor:pointer;}

.form_group_select{ position:relative; z-index: 10;}
.outdiv{position:relative; z-index: 1; width: 1px;}
.addsideset{top: -45px;}
.grouplist{width:450px; padding:10px; }
.firstdemo{position: relative; z-index: 0}
.grouplist{border:1px solid #ccc; margin-top: -48px; margin-left: 99px; background: #fff;}
.grouplist ul li{width:auto; float: left; border-radius: 4px; padding:0 9px; height: 30px; line-height: 30px;}
.grouplist ul li:hover{ background: #ddd; cursor:pointer;}
.triangle_left { width: 0;height: 0;border-top: 5px solid transparent; border-right: 8px solid #bbb; position:absolute; left:93px; top:19px; border-bottom: 5px solid transparent;}
.match_group{padding-bottom: 15px;}
.grouplist{max-height: 260px; overflow-y:auto;}
.groupselectclose{position: absolute; top: 5px; cursor: pointer; left:520px; width: 16px; height: 16px;}
.pill_mem{ height: 30px; line-height: 30px; font-weight: normal;}
.popPosition{position: relative; z-index: 0;}
/*type manage*/
.totalback{ font-size: 24px; color: #777; cursor: pointer;}
.totalback:hover{color:#5cb3e1;}
.current_page{ padding-left: 10px; font-size: 16px; color: #999;}
.current_page span{ padding-right: 10px;  font-weight:bold;}
.total_div div{height: 25px; line-height: 25px;  float: left; display: inline-block;}

/*create news*/
.tabnewstype{border-radius:4px;  cursor: pointer; display: inline-block; border:1px solid #ccc;  height: 35px; line-height: 35px; position: relative; z-index: 1;}
.tabdefaults{cursor: pointer; float: left; margin-right: 10px; border-radius: 4px; color: #333; border:1px solid #ccc; padding-left: 10px; padding-right: 10px; position: relative; z-index: 1;}
.groupz{position: relative; z-index: 3;}
.keywordz{position:relative; z-index: 2;}
.tabdefaults .addicon{width:18px; background: url(../images/CMS_control.png) no-repeat -15px -367px; display: inline-block; height: 32px;}
.grouptags{background:#73A6EC; margin-right: 10px; float: left; cursor: pointer; border-radius: 4px; color: #fff; border:1px solid #73A6EC; padding-left: 10px; padding-right: 10px;}
.grouptags .addgroupicon{width:25px;  background:url(../images/group_icon.png) no-repeat left center; display: inline-block; height: 32px;}
.grouptags .addUsericon{width:25px;  background:url(../images/user_add.png) no-repeat left center; display: inline-block; height: 32px;}
.grouptags .addkeywordicon{width:25px;  background:url(../images/key_icon.png) no-repeat left center; display: inline-block; height: 32px;}
.tabdefaults .addgroupiconcur{width:25px; height: 32px; display: inline-block; background:url(../images/group_cur.png) no-repeat 0px 6px;}




.showhidediv{ width: 400px; background:#fff; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-top-right-radius: 4px; border:1px solid #ccc; padding: 5px; left: -1px; position:absolute; z-index: 0; top: 33px; }
.shadow_line{ width: 100%; height: 1px; background:#fff; overflow: hidden; display: block; padding: 0 15px; position:absolute; z-index: 2; left: 0; bottom: -1px;}
.tabtype{height: 35px; font-size: 16px; line-height: 35px; width: 100%; padding-left: 15px; padding-right: 15px;}
.tabtype .trig{width:20px; height: 20px; overflow:hidden; display: inline-block; background: url(../images/CMS_control.png) no-repeat -45px -136px}
.group_f .required{color:#ff0000;}
.typepill li >a{ padding-top:10px; padding-bottom: 5px}
.group_f .alarminfo{font-size: 14px; color: #c2c2c2}
.autoalign{display: inline-block; height: 18px; line-height: 18px;}
.autoalign input[type=checkbox]{padding: 0; margin: 0; padding-top: 5px;}
.noval{font-size: 14px; color: #999; line-height: 40px; padding-left:15px }
.groupselect{display: inline-block; border:0px;}
.blue{color: #337ab7}
.hadchoice{display: inline-block; width:120px; text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; background: #f8f8f8; border:1px solid #e1e1e1; border-radius: 4px;  color: #333; padding:0 10px; margin-right: 10px;}
.choiceuser{ background: #fff; width: auto; color: #32A6DC; border: 1px solid #eee;}
.choiceuser label{margin-bottom: 0}
.mangediv{ margin-bottom: 0px; margin-top:10px;}
.widthreste{width: 600px; padding:15px;}
.widthreste ul{max-height: 200px; overflow: auto;}
.disabletab{opacity: 0;}
.widthsetradio {background:#fff; height: 30px; padding:5px; line-height: 20px;}
.widthsetradio input[type="radio"]{width: 20px; height: 20px; margin: 0; padding:0;}
.fazz_input{width:200px; margin-right: 10px}
.group_f .wordtag{width:4px; background: #32A6DC; float: left; margin-right: 10px; height: 25px; line-height: 25px; overflow: hidden; display: inline-block;}
.group_f .wordtag1{line-height: 25px; font-size: 18px; color: #000}
/*newstype manage*/
.manager .form-control,.default .form-control{ width: 260px; border-radius: 0px; height: 36px; font-size: 16px; border-right:0px;}
.manager .searchmanger,.default .searchmanger{border-radius: 0px; height: 36px;  border-left: 0px; width: 50px; margin-left: -5px; background:url(../images/CMS_control.png) no-repeat 0px -185px;}
.manager .typefont{ height: 36px;}
.newstypemargin{margin-left: 15px;}
.managertypelist{width:100%; overflow: hidden; max-height: 500px; overflow-y:auto; border-top:1px solid #eee; border-bottom:1px solid #ddd; padding:0px 10px 0px 10px;}
.allitem{font-size:14px; color: #666; font-weight: normal; height: 30px; padding-bottom: 12px;}
.allitem span{font-size: 14px; color: #ff0000; padding:0 2px;}
.managertypelist ul{ padding-top: 15px; width:105%}
.managertypelist ul li{position:relative; width: 170px; float: left; margin: 0px 8px 15px 8px;}
.one{width:20px; height: 40px; position: relative; z-index: 0; float: left; opacity: 0; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0 }
.two{width: 150px; padding:0 10px; height: 40px; font-size: 15px; line-height: 40px; float: left; position: relative; z-index: 1; left: -20px; border:1px solid #dbdbdb; border-radius: 4px; text-align: center; background: #fcfcfc;}
.two label{ font-weight: normal; display: inline-block; width: 150px; height: 40px; text-overflow : ellipsis; white-space : nowrap; overflow : hidden;}
.two:hover{ background: #eee; color: #333}
.three{width: 1px; height: 40px; float: left; position:absolute; z-index: 2; right:40px; top:0px; cursor: pointer;}
.twohover{width: 150px; color: #333; padding:0 10px; height: 40px; font-size: 15px; line-height: 40px; float: left; position: relative; z-index: 1; left: -20px; border:1px solid #5cb3e1; border-radius: 4px; text-align: center; background: #fbfbfb;}
.twohover label{ font-weight: normal; display: inline-block; width: 150px; height: 40px; text-overflow : ellipsis; white-space : nowrap; overflow : hidden;}
.managertypelist h3{ height: 40px; line-height: 40px; font-weight: normal; color: #ccc}
.typehigh{color: #5CB3E1}
/*group manage*/
.groupmalist{width:100%; overflow: hidden; max-height: 600px; overflow-y:auto; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.groupmalist ul li{width: 100%; height: 49px; border-bottom:1px solid #eee; line-height: 49px; position:relative;}
.groupmalist ul li:hover{background:#f6f6f6 }
.groupico{ width:43px;height: 43px; border-radius: 50px; position: relative; z-index: 0; display: inline-block; margin-left: 10px;}
.groupinfo{color: #777; font-size: 16px; height: 50px; line-height: 50px; min-width: 200px; display: inline-block;}
.groupinfo label{font-size: 16px; font-weight: normal;}
.img_grouplist{width: 20px; height: 20px; display: inline-block;  position: relative; z-index: 0;}
.img_groupinput{width: 15px; height: 15px; display: inline-block; opacity: 0; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0 }
.eidttag{ width: 100px; position:absolute; z-index: 1; height: 24px; display: inline-block; right: 0;}
.deletmembertag{height: 24px; width: 24px; padding:5px;}
.deletmembertag:hover,.addmembertag:hover{background:#eee; cursor: pointer;}
.addmembertag{height: 24px; width: 24px; padding:5px;}

/*popbox*/
.ngdialog.ngdialog-theme-default .default{width: 950px; min-width: 950px; padding:20px; background:#fff;}
.described{width: 200px;}
.rightdes{width:300px; margin-right: 20px;}

.managertype{width:100%; border-bottom: 3px solid #dbdbdb; border-top: 3px solid #dbdbdb}
.managertype .img_grouplist{width: 1px; height: 1px;}
.memberbox{width: 78%; float: left; overflow-x: hidden; height: 460px; border-left: 1px solid #ccc; overflow-y:auto;}
.managertype ul{width: 730px; padding-left: 10px; max-height: 460px;}
.managertype ul li{width:30%; margin-top: 5px; overflow: hidden; margin-bottom: 5px; background: #f6f6f6; float: left; margin-right: 11px;  height: 49px; line-height: 49px; position:relative;}
.managertype ul li:hover{background:#f6f6f6 }
.member{width:160px; float: left;  font-size: 16px; overflow: hidden; height: 50px; line-height: 50px; color:#7a7a7a;  text-overflow : ellipsis; white-space : nowrap; overflow : hidden;}
.member label{display: inline-block; width: 160px; font-weight:normal; }
.tpicon{width: 1px; height:1px; position: relative; top: 0; right: 30px; margin-top: -11px}
.img_grouplist .img{width: 40px; height: 40px; border-radius:50%;}
.selectleftuser{width:200px; float: left; max-height: 460px; overflow-y:auto;}
.memberlist{ height:30px; line-height: 30px; margin-top: 5px; font-weight: normal; color: #999; padding-left: 5px;}
.memberlist:hover{background: #5cb3e1; color: #fff}
.manager .form-control,.default .form-control{ width: 260px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; height: 36px; font-size: 16px; border-right:0px;}
.manager .searchmanger,.default .searchmanger{ border-top-right-radius: 4px; border-bottom-right-radius: 4px;}

.detail_send{display: inline-block; padding:2px 10px 2px 10px; color: #999; font-size: 12px; background: #f6f6f6; margin-right: 10px;}
.newsdetail{float: left; display: inline-block; height: 30px; margin-top: 10px; margin-right: 20px;}
.newsdetail label{font-size: 13px; color: #aaa; font-weight: normal;}
.detailtype{font-size: 12px; color: #ccc}
.detailgroup{ display: inline-block; padding-right: 5px;}
.memberlist img{border-radius: 50%}
.memtitle{height:30px; padding: 5px 0;}

/*alert alarm*/
.dialogTitle{height: 30px; border-bottom:1px solid #ccc;}
.gray{background: rgba(255,255,255,.4);}
.ngdialog.ngdialog-theme-default .loadingcontent{ width:100px;padding-top:0px;}
.cancelselect{ position:relative;  z-index:0;  width: 15px; display: inline-block; height: 15px; right: 35px; top:-20px;}
.selectparents{position: relative;}
.userSet{ font-size: 18px; font-weight:bold;}
.padding-r{padding-right: 5px; cursor: pointer;}
.loading{ width: 60px; margin-left: 40%; margin-top: 20%}
.loading_list{width: 60px; margin-left: 40%; margin-top: 10px}
.cutlength{display: inline-block; height: 30px; max-width: 130px; text-overflow : ellipsis; white-space : nowrap; overflow : hidden;}
.peoplepic{display: inline-block; padding-right: 5px;}

/*Vote*/
.voteOptionline{display: inline-block; height:30px; line-height: 30px;}
.voteOption{display:inline-black; float: left; padding-left: 10px; padding-right: 10px; cursor: pointer;  height:30px; line-height: 30px;}
.voteOption:hover{color: #32A6DC}
.voteOption label{font-weight:normal;}
.addmanger{border-radius: 0px; height: 36px;  border-left: 1px solid #ccc; width: 50px; margin-left: 0px; background:#e5e5e5 url(../images/CMS_control.png) no-repeat 0px -368px;}
.votemanager .form-control,.default .form-control{ width: 360px; border-radius: 0px; height: 36px; font-size: 16px; border-right:0px;}
.optionsList{height: 40px; line-height: 40px; color: #73A6EC}
.votedialog{width:500px; padding:15px;}
.votez{position: relative; z-index: 1}
.votecur label{font-weight: normal;}
.votecur .triangle{border:6px solid #000; border-color:transparent transparent #fff transparent; width:0px; height: 0px; bottom: -17px; position: relative; z-index: 1; left: -40px}
.votecur{background: #73A6EC; float: left; color: #fff;display:inline-black; padding-left: 10px; cursor: pointer;  height:30px; line-height: 30px; margin-right: 10px; border-radius: 3px; margin-left: 10px}
.voteoutlook{margin-bottom: 45px; position: relative; z-index: 1} 
.divhide{margin-bottom: 45px; position: relative; z-index: 1; display: none;}
label.alertword{font-weight: normal; color: #ff0000; font-size: 12px;}
.colorset{color: #73A6EC}
.vote_item{ height: 35px; line-height: 35px; background: #f8f8f8; border-radius: 4px; width: 120px; text-align: center; padding:0px 15px; max-width: 120px; border:1px solid #e1e1e1;  text-overflow : ellipsis; white-space : nowrap; overflow : hidden; display: inline-block; float: left;}
.vote_del{display: inline-block; float: left; cursor: pointer; position: relative; right: 18px; top:0px;}
.listdel{top: -10px;}
.optionsmargin{margin-bottom: 5px; height: 35px; display: inline-block; float: left;}
.max_height_set{ text-overflow : ellipsis; white-space : nowrap; overflow-y : auto; max-height: 200px;}
.typeHeightset{line-height: 40px;}
.typeHeightset ul{display: block;}
.typeHeightset ul li{height: 40px; line-height: 40px; margin-bottom: 10px;}

/*add news*/
.uploadheight{height: 80px; overflow: hidden;}



#kind_preview{
    width: 320px;
    height: 568px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    padding: 0 5px;
    left: 660px;
    top: 60px;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 1px 1px 15px #ccc;
    border-radius: 5px;
}
.ke-statusbar{
    height: 24px;
}
.ke-edit{
    position: relative;
    padding-left: 20px!important;
    padding-top: 20px!important;
}
.ke-edit:before,.ke-edit:after{
    content:'';
    display: block;
    position: absolute;
}
.ke-edit:before{
    left: 20px;
    top: 0;
    width: 100%;
    height: 20px;

    background-image: url('../images/scalex.png');
}
.ke-edit:after{
	left: 0;
    top: 20px;
    width: 20px;
    height: 100%;
    background-image: url('../images/scaley.png');
}





