			<div class="addnews">
			<div class="total_div">
				<div class="totalback" ng-click="alarmDialog('','ngdialogAlarm')">News list</div>
				<div class="current_page"> <span>></span> {{pagerTitle}}</div>
			</div><div class="clearfix"></div>
			<hr>

			<form>
				<br>
				<div class="form-group group_f">
					<div>
						<label class="wordtag"></label>
						<label class="wordtag1" for="inputTitle">News type</label><br>
					</div>
				    <div class="tabnewstype">
				    	<div class="tabtype" ng-click="tabtype()">
				    		<span ng-if="selectType.length!=0">{{selectType.Name}}</span>
				    		<span ng-if="selectType.length===0">please selected</span>
				    		<span class="trig">&nbsp;</span></div>
				    	<div class="shadow_line" ng-show="tabCon">&nbsp;</div>

						<div class="showhidediv" ng-show="tabCon">
							<ul class="nav nav-pills typepill">
								<li ng-repeat="newsType in newsTypetodo" ng-click="choicetype(newsType)">
									<a href="">{{newsType.Name}}</a>
								</li>
							</ul>
						</div>
				    </div>
				    <label ng-hide="requiredtype" class="required">*</label>
					<label ng-hide="requiredtype" class="alarminfo">( please select newsType )</label>
			  	</div>

				<div class="form-group group_f margin_b">
					<label class="wordtag"></label>
				    <label class="wordtag1" for="inputTitle">Title</label>
				    <input type="text" class="form-control selecttitle" id="inputTitle" maxLength="200" placeholder="Title" ng-model="newTodo.title">
				    <label class="required">*</label>
				    <label class="alarminfo">( The maximum length cannot be more than 200 characters )</label>
			  	</div>
				<br>
				<div class="form-group group_f">
					<label class="wordtag"></label>
				    <label class="wordtag1" for="inputTitle">Cover Image</label>

				</div>
				<div class="form-group group_f uploadheight">
					<fileinput ng-model="newTodo.coverImage"></fileinput> &nbsp;
					<label class="required">*</label>
					<label class="alarminfo">( Please choose less than 2m file.  )</label>
				</div>
				<br>
				<br>



				<div class="group_f">

					<label class="wordtag"></label>
				    <label class="wordtag1">Push tags</label>
				</div>
				<ul class="getrepeatname groupz">
					<li class="nopadding">
						<div ng-class="{true: 'grouptags', false: 'tabdefaults'}[isActive]">

					    	<div class="tabtype" ng-click="toggleWin('tag')">
					    		<span class="addgroupicon addgroupiconcur">&nbsp;</span>
					    		<span>Add Group</span>
					    	</div>

							<div class="showhidediv widthreste" ng-show="tagspops">


								  <div class="form-group mangediv manager">
								    <input type="text" class="form-control pull-left" placeholder="Group Name" ng-model="fazziV">
								    <button type="submit" ng-click="fazzinput('fazziV')" class="btn  btn-default searchmanger"></button>
								  </div>

								<div class="clearfix"></div>
								<hr>
								<ul class="nav nav-pills typepill">
									<li ng-repeat="groupall in grouptodo">
										<input type="checkbox" ng-checked="groupall.checked" id="groupall{{$index}}" ng-model="groupall.checked"  ng-click="changeTags($event,groupall,'group')" />
										<label for="groupall{{$index}}">{{groupall.Name}}</label>
									</li>
								</ul>
								<hr class="resitehr">
								<div class="submitok" ng-click="toggleWin('tag')">Submit</div>
							</div>
					    </div>
					    <div class="grouptags">
					    	<div class="tabtype" ng-click="openUserdialog()">
					    		<span class="addUsericon">&nbsp;</span>
					    		<span>Add User</span>
					    	</div>
					    </div>

					    <div class="groupshow">
							<div class="noval" ng-if="tagname.length===0 && submituser.length===0">
								<label class="required">*</label>
								<span>
									( please select tags )
								</span>
							</div>
						</div>
					</li>
					<li class="contentlists">
						<div class="groupselect" ng-if="grouptodo.length!=0">
							<label class="pull-left" ng-if="tagname.length!=0 || submituser.length!=0">
								<span class="hadchoice_span">tags:</span>
							</label>

							<label class="pull-left selectparents" ng-repeat="groupl in tagname">
								<span class="hadchoice" title="{{groupl.Name}}">
									{{groupl.Name}}
								</span>
								<span ng-click="selectcancel(groupl,'group')" class="cancelselect"><img width="18px" height="18px"  src="images/del.png" /></span>
							</label>
							<label class="pull-left" ng-repeat="chouser in submituser">
								<span class="hadchoice choiceuser" title="{{chouser.Name}}">
									<label>{{chouser.Name}}</label>
									<label  ng-click="selectcancel(chouser,'user')">
										<img width="18px" height="18px" title="Delete"  src="images/del.png" />
									</label>

								</span>

							</label>
						</div>
					</li>


				</ul>

				<div class="clearfix padding_b"></div>
				<!-- <p class="help-block">keyword</p> -->
				<div class="group_f">
					<label class="wordtag"></label>
				    <label class="wordtag1">Keyword</label>
				</div>

				<ul class="getrepeatname keywordz">

					<li class="nopadding">
						<div ng-class="{true: 'grouptags', false: 'tabdefaults'}[iskeyActive]">

					    	<div class="tabtype" ng-click="toggleWin('keyword')">
					    		<span class="addkeywordicon">&nbsp;</span>
					    		<span>Add Keyword</span>
					    	</div>

							<div class="showhidediv widthreste" ng-show="keywordpops">


								<div class="form-group mangediv manager">
								    <input type="text" class="form-control pull-left" placeholder="Keyword Name" ng-model="fazzKeyword">
								    <button type="submit" class="btn btn-default searchmanger" ng-click="fazzinput('fazzKeyword')"></button>
								</div>

								  <div class="clearfix"></div>
								  <hr>
								<ul class="nav nav-pills typepill">
									<li class="bghover widthsetradio" ng-repeat="keywordall in keywordtodo"  ng-click="keywordselect(keywordall)">
										<input class="widthsetradio" name="keyw" type="radio" id="keywordall{{$index}}" ng-checked="keywordall.checked" />
										<label  for="keywordall{{$index}}">{{keywordall.Name}}</label>
									</li>
								</ul>
								<hr class="resitehr">
								<div class="submitok" ng-click="toggleWin('keyword')">Submit</div>
							</div>
					    </div>
					</li>

					<li>
						<div class="groupshow">
							<div class="noval" ng-if="keywordname.length===0">
								<label class="required">*</label>
									( please select keyword )
							</div>
						</div>

						<div class="groupselect">
							<label class="pull-left" ng-if="keywordname.length!=0">
								<span class="hadchoice_span">selected keyword:</span>

							</label>
							<label  class="pull-left" ng-if="keywordname.length!=0">
								<span title="{{keywordname.Name}}" class="hadchoice">
									{{keywordname.Name}}
								</span>
							</label>
						</div>
					</li>

				</ul>

				<!-- vote side -->
				<div ng-show="voteShowStatus">

					<div class="clearfix"></div>
					<br>

					<div class="group_f pull-left" >
						<label class="wordtag"></label>
					    <label class="wordtag1">Custom Voting Options:</label>
					</div>
					<div class="{{voteTodo.voteType=='single'?'votecur':'voteOption'}}" ng-click="choiceOption('single')">
						<label>Single Vote</label>
						<label class="triangle"></label>
					</div>
					<div class="pull-left voteOptionline">/</div>
					<div class="{{voteTodo.voteType=='multiple'?'votecur':'voteOption'}}" ng-click="choiceOption('multiple')">
						<label>Multiple Votes</label>
						<label class="triangle"></label>
					</div>



					<ul class="{{voteTodo.voteType!==''?'voteoutlook':'divhide'}}">

						<li class="nopadding">
							<div class="showhidediv votedialog">

								<!-- <input value="{{voteTodo.startTime  | date:'yyyy/MM/dd'}}"  placeholder="{{voteTodo.startTime | date:'yyyy/MM/dd'}}"  class="laydate-icon"  id="start" />
								<input value="{{voteTodo.endTime | date:'yyyy/MM/dd'}}"  placeholder="{{voteTodo.endTime | date:'yyyy/MM/dd'}}"  id="end" class="laydate-icon"  id="end" /> -->
								<div class="form-group">
									startTime: <input ng-model="voteTodo.startTime | date:'yyyy-MM-dd' "  value="{{voteTodo.startTime | date:'yyyy-MM-dd'}}" placeholder="{{voteTodo.startTime | date:'yyyy-MM-dd'}}"  class="laydate-icon"  id="start" ng-click="start()" />
									endTime: <input ng-model="voteTodo.endTime | date:'yyyy-MM-dd'"  value="{{voteTodo.endTime | date:'yyyy-MM-dd'}}" placeholder="{{voteTodo.endTime | date:'yyyy-MM-dd'}}"  id="end" class="laydate-icon"  ng-click="end()" />
								</div>

								<!-- <div class="form-group">
									startTime: <input type="date" class=="form-control pull-left" ng-model="voteTodo.startTime"  />
									endTime: <input class=="form-control pull-left" type="date"  ng-model="voteTodo.endTime"/>
								</div> -->


								<div class=" mangediv votemanager">
								    <input type="text" class="form-control pull-left"  placeholder="{{voteTodo.voteType}} Options Name" ng-model="voteName">
								    <button type="submit" class="btn btn-default addmanger"  ng-click="saveOption()"></button>
								</div>
								<label class="alertword" ng-if="voteName==undefined || voteName.length==0">{{voteAlert}}</label>

								<div class="optionsList" ng-if="voteTodo.voteOptions.length>0"><hr class="resetheighthr">{{voteTodo.voteType}} voting options:</div>

								<ul class="max_height_set">
									<li class="optionsmargin" ng-repeat="vote in voteTodo.voteOptions">
										<div class="vote_item" title="{{vote}}">{{vote}}</div>
										<div class="vote_del" title="Delete" ng-click="delVoteOption(vote)"><img width="15px" height="15px" src="../images/del.png"></div>
									</li>
								</ul>
								<div class="clearfix"></div>
								<hr class="">


								<div class="submitok" ng-click="voteSubmit()">OK</div>
							</div>
						</li>

					</ul>

					<div class="clearfix"></div>

					<div class="typeHeightset">
						<ul class="nav nav-pills typepill" ng-if="voteTodo.voteOptions.length>0">
							<li class="bghover widthsetradio colorset">
								{{selectVote}} voting options:
							</li>
							<li class="bghover widthsetradio" ng-repeat="vote in voteTodo.voteOptions">
								<div class="vote_item" title="{{vote}}">{{vote}}</div>
								<div class="vote_del listdel" title="Delete" ng-click="delVoteOption(vote)"><img width="15px" height="15px" src="../images/del.png"></div>
							</li>
						</ul>
					</div>

					<div class="clearfix"></div>
					<div ng-show="dateTimeShow">
						<div class="bghover widthsetradio colorset pull-left">
							startTime-endTime:
						</div>
						<div class="pull-left bghover widthsetradio">{{voteTodo.startTime|date:'yyyy-MM-dd'}}&nbsp;---&nbsp;{{voteTodo.endTime|date:'yyyy-MM-dd'}}</div>
					</div>

				</div>
				<div class="clearfix"></div>


				<br>
			  <div class="form-group group_f">
			    <label class="wordtag"></label>
				 <label class="wordtag1" for="txtPara2">Description</label>
			    <textarea class="form-control" rows="8" id="txtPara2" ng-model="newTodo.description" placeholder="Description" editor></textarea>
			  </div>
  			  <div class="clearfix padding_b"></div>

			  <button type="submit" ng-click="addTodo()" class="btn btn-default addnew_btn">Submit</button>

			  <button type="submit" ng-click="alarmDialog('','ngdialogAlarm')" class="btn btn-default cansel_btn">Cancel</button>

			</form>
			</div>
<!-- dialog -->
		<div id="ngdialogAlarm" style="display:none" class="ngdialog ngdialog-theme-default ng-scope" role="alertdialog" aria-describedby="ngdialog1-aria-describedby">
			<div class="ngdialog-overlay"></div>
			<div class="ngdialog-content" role="document">

				<!-- content -->
				<div id="ngdialog1-aria-describedby">

					<Br>
					<p>{{ESCAlarmInfoTxt}}</p>

				</div>
				<div class="clearfix"></div>
				<br>
				<div  class="ngdialog-buttons">
					<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="alarmDialog('true','ngdialogAlarm')">ok</button>
					<button type="button" class="ngdialog-button" ng-click="alarmDialog('close','ngdialogAlarm')">cancel</button>
				</div>
				<div class="ngdialog-close" ng-click="alarmDialog('close','ngdialogAlarm')"></div>
			</div>
		</div>

<!-- dialog end -->

<!-- dialog -->
<div id="ngdialogUser" style="display: none" class="ngdialog ngdialog-theme-default ng-scope" role="alertdialog" aria-describedby="ngdialog1-aria-describedby">
	<div class="ngdialog-overlay"></div>
	<div class="ngdialog-content default" role="document">
		<!-- content -->
		<div id="ngdialog1-aria-describedby">
			<Br>

			<div class="group_f">
				<div class="pull-left userSet">User</div>
				<div class="form-group pull-right">
					<input type="text" class="form-control pull-left" ng-model="memberval" maxLength="300" placeholder="user name" >
					<button type="submit" class="btn btn-default searchmanger pull-left" ng-click="querydesignMember()"></button>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="managertype">
				<div class="selectleftuser">
					<div class="memtitle">Selected User:</div>
					<div class="memberlist" ng-repeat="chouser in currentUser">
						<label class="peoplepic pull-left"><img class="img" width="20px" height="20px" ng-src="{{chouser.Image}}" /></label>
						<label class="cutlength pull-left" title="{{chouser.Name}}">{{chouser.Name}}</label>
						<label class="pull-right padding-r" ng-click="cancelChoice(chouser)"><img src="../images/del.png" title="Delete" width="15px" height="15px" /></label>
					</div>
				</div>
				<div class="memberbox fl">
					<div class="loading" ng-show="load"><img src="../images/loading.gif" width="40px" height="40px"></div>
					<ul>
						<li ng-repeat="user in AllUser" title="{{user.Name}}">
							<div class="groupico fl">
								<div class="img_grouplist">
									<label for="memberall{{$index}}">
										<img class="img" ng-src="{{user.Image}}" /></label>
								</div>
								<!-- <input id="memberall{{$index}}" type="checkbox" ng-checked="memberall.checked" ng-model="memberall.checked" /> -->
								<div class="img_groupinput">
									<input ng-checked="user.checked" ng-click="usertoggle(user,$event)" ng-model="user.checked" type="checkbox" id="memberall{{$index}}"   />
								</div>
							</div>

							<div class="member fl" title="{{user.Name}}">
								<label for="memberall{{$index}}" >{{user.Name}}</label>
							</div>
							<div class="tpicon fl" ng-if="user.checked===false"><img src="images/member.jpg" /></div>
							<div class="tpicon fl" ng-if="user.checked===true"><img src="images/member_cur.jpg" /></div>
						</li>
					</ul>
				</div>

				<div ng-if="querylength===true"><h3>the value not found!</h3></div>
				<div class="clearfix"></div>
			</div>


		</div>
		<div class="clearfix"></div>
		<br>
		<div  class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="submitUsers()">submit</button>
		</div>
		<div class="ngdialog-close" ng-click="closeThisDialog()"></div>
	</div>
</div>

