	
	<div class="total_div">
		<div class="totalback" ng-click="pagetypelist()">News List</div>
		<div class="current_page"> <span>></span> Group</div>
	</div>
	<div class="clearfix"></div>

	<hr>
<!-- 新建分类 -->
<form class="form-inline manager" name="typeForm">

	<div class="group_f">
		<label>Group</label>
		<div class="clearfix"></div>
				
	</div>

	<div class="form-group">
		<input type="text" class="form-control" ng-model="groupval" maxLength="150" placeholder="group name" >
		<button type="submit" class="btn btn-default searchmanger" ng-click="queryAllType('group')"></button>
		<button type="submit" class="btn btn-default typefont" ng-click="newAtype('group')">+</button>
		<span class="Required">*</span> <span class="alarminfo">( the maximum length is 150 characters.)</span>
	</div>

	<div class="clearfix"></div>
    <br>

	<h2 class="allitem">
		Search Results: Total <span>{{typelength}}</span> Item.
	</h2>

		
	<div class="groupmalist">
	<div ng-show="load" class="loading_list"><img src="../images/loading.gif" width="40px" height="40px"></div>
		
		<ul ng-if="querylength===false">
			<li ng-repeat="tplist in typelist" title="{{tplist.Name}}">
				<div class="groupico">
					<div class="img_grouplist">
						<img src="images/li_img_01.png" />
					</div>
					<div class="img_groupinput">
						<input ng-checked="tplist.checked" type="radio" id="groupall{{$index}}"  name="list" />
					</div>
				</div>
				<div class="groupinfo" ng-click="tplists(tplist)">
					<label for="groupall{{$index}}">{{tplist.Name}}</label>
				</div>
				<div class="eidttag">
					<span title="Add Member" class="deletmembertag" ng-click="openUserdialog(tplist)" title="Delete"><img src="images/add_user.png" /></span>
					<span title="Del Group"  ng-click="alarmDialog('','ngdialogAlarm',tplist,'group')" class="addmembertag"><img src="images/del.png" /></span>
				</div>				
			</li>
		</ul>
		<div ng-if="querylength===true"><h3>the value not found!</h3></div>
		<div class="clearfix"></div>
	</div>
	<Br>

</form>

<!-- dialog -->
<div id="ngdialogUser" style="display: none" class="ngdialog ngdialog-theme-default ng-scope" role="alertdialog" aria-describedby="ngdialog1-aria-describedby">
	<div class="ngdialog-overlay"></div>
	<div class="ngdialog-content default" role="document">

		<!-- content -->
		<div id="ngdialog1-aria-describedby">
			<Br>
			<div class="group_f">
				<label class="described pull-left">{{groupNameDialog.Name}}</label>				
				<div class="form-group pull-right">
					<input type="text" class="form-control pull-left" ng-model="memberval" maxLength="300" placeholder="user name" >
					<button type="submit" class="btn btn-default searchmanger pull-left" ng-click="querydesignMember()"></button>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="managertype">
				<div class="selectleftuser">
					<div class="memtitle">{{groupNameDialog.Name}} Member:</div>
					<div class="memberlist" ng-repeat="chouser in currentUser">
						<label class="peoplepic pull-left"><img class="img" width="20px" height="20px" ng-src="{{chouser.Image}}" /></label>
						<label class="cutlength pull-left" title="{{chouser.Name}}">{{chouser.Name}}</label>
						<label class="pull-right padding-r" ng-click="cancelChoice(chouser)"><img src="../images/del.png" title="Delete" width="15px" height="15px" /></label>
					</div>
				</div>
				<div class="memberbox fl">
					<div ng-show="load" class="loading"><img src="../images/loading.gif" width="40px" height="40px"></div>
					<ul ng-if="querylength===false">
						<li ng-repeat="user in groupuser" title="{{user.Name}}">
							<div class="groupico fl">
								<div class="img_grouplist">
									<label for="memberall{{$index}}">
										<img class="img" ng-src="{{user.Image}}" /></label>
								</div>
								<!-- <input id="memberall{{$index}}" type="checkbox" ng-checked="memberall.checked" ng-model="memberall.checked" /> -->
								<div class="img_groupinput">
									<input ng-checked="user.checked" ng-click="usertoggle(user,$event)" ng-model="user.checked" type="checkbox" id="memberall{{$index}}"   />
								</div>
							</div>

							<div class="member fl" title="{{user.Name}}">
								<label for="memberall{{$index}}" >{{user.Name}}</label>
							</div>
							<div class="tpicon fl" ng-if="user.checked===false">
								<label for="memberall{{$index}}"><img src="images/member.jpg" /></label>
							</div>
							<div class="tpicon fl" ng-if="user.checked===true">
								<label for="memberall{{$index}}">
									<img src="images/member_cur.jpg" />
								<label>
							</div>
						</li>
					</ul>
				</div>
				
				<div ng-if="querylength===true"><h3>the value not found!</h3></div>
				<div class="clearfix"></div>
			</div>			


		</div>
		<div class="clearfix"></div>
		<br>
		<div  class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="submThisDialogit()">submit</button>
		</div>
		<div class="ngdialog-close" ng-click="closeThisDialog(0)"></div>
	</div>
</div>

<!-- dialog end -->


<!-- dialog -->
<div id="ngdialogAlarm" style="display:none" class="ngdialog ngdialog-theme-default ng-scope" role="alertdialog" aria-describedby="ngdialog1-aria-describedby">
	<div class="ngdialog-overlay"></div>
	<div class="ngdialog-content" role="document">

		<!-- content -->
		<div id="ngdialog1-aria-describedby">

			<Br>
			<p>{{delalarmInfoTxt}}</p>

		</div>
		<div class="clearfix"></div>
		<br>
		<div  class="ngdialog-buttons">			
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="alarmDialog('true','ngdialogAlarm')">ok</button>
			<button type="button" class="ngdialog-button" ng-click="alarmDialog('close','ngdialogAlarm','','')">cancel</button>
		</div>
		<div class="ngdialog-close" ng-click="alarmDialog('close','ngdialogAlarm','','')"></div>
	</div>
</div>

<!-- dialog end -->