
<div class="container-fluid">

    <header class="site-header container-fluid">

        <div class="main-header">
            <div class="row">
                <div class="main-header-left col-md-3 col-sm-6 col-xs-8">
                    <a id="search-icon" class="btn-left fa fa-search" href="#search-overlay"></a>
                    <div id="search-overlay">
                        <a href="#search-overlay" class="close-search"><i class="fa fa-times-circle"></i></a>
                        <div class="search-form-holder">
                            <h2>Type keywords and hit enter</h2>
                            <form id="search-form" action="#">
                                <input type="search" name="s" placeholder="" autocomplete="off" />
                            </form>
                        </div>
                    </div><!-- #search-overlay -->
                    <a href="#" class="btn-left arrow-left fa fa-angle-left"></a>
                    <a href="#" class="btn-left arrow-right fa fa-angle-right"></a>
                </div> <!-- /.main-header-left -->
                <div class="menu-wrapper col-md-9 col-sm-6 col-xs-4">
                    <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                    <ul class="sf-menu hidden-xs hidden-sm">
                        <li class="active"><a  ui-sref=".main">Home</a></li>
                        <li><a  ui-sref=".services" >Services</a></li>
                        <li><a href="#">Projects</a>
                            <ul>
                                <li><a ui-sref=".project-2">Two Columns</a></li>
                                <li><a ui-sref=".project-3">Three Columns</a></li>
                                <li><a ui-sref=".project-details">Project Single</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a ui-sref=".blog">Blog Masonry</a></li>
                                <li><a ui-sref=".blog-single">Post Single</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Pages</a>
                            <ul>
                                <li><a ui-sref=".our-team">Our Team</a></li>
                                <li><a ui-sref=".archives">Archives</a></li>
                                <li><a ui-sref=".grids">Columns</a></li>
                                <li><a ui-sref=".404">404 Page</a></li>
                            </ul>
                        </li>
                        <li><a ui-sref=".contact">Contact</a></li>
                    </ul>
                </div> <!-- /.menu-wrapper -->
            </div> <!-- /.row -->
        </div> <!-- /.main-header -->
        <div id="responsive-menu">
            <ul>
                <li><a ui-sref=".main">Home</a></li>
                <li><a ui-sref=".services">Services</a></li>
                <li><a href="#">Projects</a>
                    <ul>
                        <li><a ui-sref=".project-2">Two Columns</a></li>
                        <li><a ui-sref=".project-3">Three Columns</a></li>
                        <li><a ui-sref=".project-details">Project Single</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog</a>
                    <ul>
                        <li><a ui-sref=".blog">Blog Masonry</a></li>
                        <li><a ui-sref=".blog-single">Post Single</a></li>
                    </ul>
                </li>
                <li><a href="#">Pages</a>
                    <ul>
                        <li><a ui-sref=".our-team">Our Team</a></li>
                        <li><a ui-sref=".archives">Archives</a></li>
                        <li><a ui-sref=".grids">Columns</a></li>
                        <li><a ui-sref=".404">404 Page</a></li>
                    </ul>
                </li>
                <li><a ui-sref=".contact">Contact</a></li>
            </ul>
        </div>
    </header> <!-- /.site-header -->

    <div >
        <div name="menuContent" ui-view=""  />
    </div>

</div>

