
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="#/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<section id="pageloader">
    <div class="loader-item fa fa-spin colored-border"></div>
</section> <!-- /#pageloader -->

<div class="copyrights">Collect from <a href=""  title="tblog">tblog</a></div>

<div class="swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide" style="background-image: url(images/slide1.jpg);">
            <div class="overlay-s"></div>
            <div class="slider-caption">
                <div class="inner-content">
                    <h2>Earth New House Project</h2>
                    <p>Artcore is free HTML5 Collect from <b class="blue">myhome</b><b class="green">.com</b>. Credit goes to <a rel="nofollow" href="#">Unsplash</a> for photos.</p>
                    <a href="#" class="main-btn white">View Projects</a>
                    <p style="font-size:12px;margin-top:20px">Collect from <a href="" title="" target="_blank">my home</a> - More Templates <a href="" target="_blank" title="">my home</a> </p>
                </div> <!-- /.inner-content -->
            </div> <!-- /.slider-caption -->
        </div> <!-- /.swier-slide -->

        <div class="swiper-slide" style="background-image: url(images/slide2.jpg);">
            <div class="overlay-s"></div>
            <div class="slider-caption">
                <div class="inner-content">
                    <h2>Hotel and Residence Concept in Montenegro</h2>
                    <p>We come with new fresh and unique ideas.</p>
                    <a href="#" class="main-btn white">View Projects</a>
                </div> <!-- /.inner-content -->
            </div> <!-- /.slider-caption -->
        </div> <!-- /.swier-slide -->

        <div class="swiper-slide" style="background-image: url(images/slide3.jpg);">
            <div class="overlay-s"></div>
            <div class="slider-caption">
                <div class="inner-content">
                    <h2>Natural 3d Architecture Design</h2>
                    <p>Natural concrete is a material which is calm and clean.</p>
                    <a href="#" class="main-btn white">View Projects</a>

                </div> <!-- /.inner-content -->
            </div> <!-- /.slider-caption -->
        </div> <!-- /.swier-slide -->

    </div> <!-- /.swiper-wrapper -->
</div> <!-- /.swiper-container -->


