

<div class="newstopic heightauto">
	<h3>Product List</h3>
	<div class="clearfix"></div>
	<Br>
	<div class="left_btn_type fl">
		<div class="left_btn_first cur_type" ng-click="pageAddnews()"><span class="hover_icon"></span>add Product</div>
		<!-- <div class="left_btn_second cur_type" ng-click="pagemanagetype('newstype')"><span class="hover_icon"></span>
			news type
		</div>
		<div class="left_btn_three cur_type" ng-click="pagemanagetype('keyword')"><span class="hover_icon"></span>keyword</div>
		<div class="left_btn_four cur_type" ng-click="pagemanagetype('group')"><span class="hover_icon"></span>group</div> -->
	</div>
	<!--<form class="form-inline fr">-->
		<!--<div class="form-group">-->
			<!--<select id="newsType" class="inputset" ng-model="newsTypetodo.selectName"-->
					<!--ng-options="newsType.Name as newsType.Name for newsType in newsTypetodo">-->
			<!--</select>-->
		<!--</div>-->
		<!--<div class="form-group off_left">-->
			<!--<input type="text" class="form-control" ng-model="fuzzy" placeholder="select value">-->
		<!--</div>-->
		<!--<button type="submit" class="btn btn-default" ng-click="fuzzyquery()"></button>-->
	<!--</form>-->

</div>
<div class="clearfix"></div>
<br>

<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="{{!!published?'':'active'}}">
		<a href="javascript:void(0);" ng-click="published=0" role="tab" data-toggle="tab">Hold</a>
	</li>
	<!--<li role="presentation" class="{{!!published?'active':''}}">-->
		<!--<a href="javascript:void(0);" ng-click="published=1" role="tab" data-toggle="tab">Published</a>-->
	<!--</li>-->
</ul>

<div class="table-responsive newslist" ng-init="order='updatedAt'">
	<table class="table table-hover">
		<tr>
			<th class="checktodo"></th>
			<th>
				<a href="javascript:void(0);" class="{{order!=='title'?'h5':''}}" ng-click="order='title';desc=!desc">Product Name</a> /
				<a href="javascript:void(0);" class="{{order!=='updatedAt'?'h5':''}}" ng-click="order='updatedAt';desc=!desc">Time</a>
			</th>

			<th class="contolnews">Product handle</th>
			<!--<th class="pushstatus">Push news</th>-->
		</tr>
		<tr ng-repeat="todo in todos">
			<td class="checktodo">
				<input id="todo{{$index}}" type="checkbox" ng-checked="todo.checked" ng-model="todo.checked" />
			</td>
			<td>
				<label for="todo{{$index}}">{{todo.productName}}</label>
				<br>
				<div class="supplementary">
					<label>{{todo.updatedAt| date:"yyyy-MM-dd HH:mm:ss"}}</label>
				</div>
			</td>
			<td>
				<div class="btn_edit fl" title="Edit" ng-click="pagecreatenews(todo)">&nbsp;</div>
				<!--<div class="btn_view fl" title="View" ng-click="pagedetail(todo)">&nbsp;</div>-->
				<!-- <a class="btn_del" ng-click="deleteTodo(todo)">Delete</a> -->
			</td>
			<!--<td class="pushstatus">-->
				<!--<button ng-if="todo.published===false" type="submit" class="btn btn-xs btn-info btn_push" ng-click="pushAnews(todo)">Push</button>-->
				<!--<button ng-if="todo.published===true" type="submit" class="btn btn-xs btn-cancel" ng-click="pushAnews(todo)">Cancel Push</button>-->
			<!--</td>-->
		</tr>
		<tr>
			<td colspan="5" ng-if="todos.length>0" class="totaldata">
				<!--<input id="todo{{$index}}" ng-click="SelectAll($event)" type="checkbox" />-->
				&nbsp;&nbsp;
				<!--<button type="submit" ng-if="!published" class="btn btn-md btn-primary push_all" ng-click="pushAll()">Push All</button>-->
				<!--<button type="submit" ng-if="!!published" class="btn btn-md btn-primary delete_item" ng-click="cancelPushAll()">Cancel Push</button>-->
				<!--<button type="submit" class="btn btn-md btn-primary delete_item" ng-click="delallData()">Delete All</button>-->
				<pagination ng-model="pageOptions" class="pull-right"></pagination>
			</td>
		</tr>
		<tr>
			<td colspan="5" ng-if="todos.length===0" align="center" style="color:#ccc">
				<h3>No product!</h3>
			</td>
		</tr>
	</table>
</div>
<!-- dialog -->
<div id="ngdialogAlarm" style="display:none" class="ngdialog ngdialog-theme-default ng-scope" role="alertdialog" aria-describedby="ngdialog1-aria-describedby">
	<div class="ngdialog-overlay"></div>
	<div class="ngdialog-content" role="document">

		<!-- content -->
		<div id="ngdialog1-aria-describedby">
			<Br>
			<p>{{delalarmInfoTxt}}</p>

		</div>
		<div class="clearfix"></div>
		<br>
		<div  class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="delallData('true','ngdialogAlarm')">ok</button>
			<button type="button" class="ngdialog-button" ng-click="delallData('close','ngdialogAlarm')">cancel</button>
		</div>
		<div class="ngdialog-close" ng-click="alarmDialog('close','ngdialogAlarm')"></div>
	</div>
</div>
<!-- dialog -->
<div id="loading"  style="display:none" class="ngdialog ngdialog-theme-default ng-scope" role="alertdialog">
	<div class="ngdialog-overlay gray"></div>
	<div class="ngdialog-content loadingcontent" role="document">

		<!-- content -->
		<div id="ngdialog1-aria-describedby">

			<Br>
			<p><img src="images/loading.gif" /></p>

		</div>
		<div class="clearfix"></div>
	</div>
</div>

<!-- dialog end -->
