
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="#/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <section id="pageloader">
            <div class="loader-item fa fa-spin colored-border"></div>
        </section> <!-- /#pageloader -->

        <div class="content-wrapper">
            <div class="inner-container container">
                <div class="row">
                    <div class="section-header col-md-12">
                        <h2>Our Services</h2>
                        <span>Subtitle Goes Here</span>
                    </div> <!-- /.section-header -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-6 service-item service-left">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="li_lab"></i>
                            </div>
                            <div class="service-content">
                                <h4>Quality Matter With Us</h4>
                                <p>Artcore is free HTML5 Collect from <b class="blue">cssmoban</b><b class="green">.com</b>. Credit goes to <a rel="nofollow" href="#">Unsplash</a> for photos used in this template. You can use this layout for your personal or commercial websites.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item -->
                    <div class="col-md-6 service-item service-right">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="li_bulb"></i>
                            </div>
                            <div class="service-content">
                                <h4>Creative Idea Important</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, odit, magnam, autem ipsum incidunt modi saepe id ullam consectetur unde minima quis.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item -->
                    <div class="col-md-6 service-item service-left">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="li_cup"></i>
                            </div>
                            <div class="service-content">
                                <h4>Our Open Office</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, odit, magnam, autem ipsum incidunt modi saepe id ullam consectetur unde minima quis.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item -->
                    <div class="col-md-6 service-item service-right">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="li_clock"></i>
                            </div>
                            <div class="service-content">
                                <h4>On-Time Delivery</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, odit, magnam, autem ipsum incidunt modi saepe id ullam consectetur unde minima quis.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item -->
                    <div class="col-md-6 service-item service-left">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="li_like"></i>
                            </div>
                            <div class="service-content">
                                <h4>Sincerely Supporting</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, odit, magnam, autem ipsum incidunt modi saepe id ullam consectetur unde minima quis.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item -->

                    <div class="col-md-6 service-item service-right">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="li_study"></i>
                            </div>
                            <div class="service-content">
                                <h4>Learning New Things</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, odit, magnam, autem ipsum incidunt modi saepe id ullam consectetur unde minima quis.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item -->

                </div> <!-- /.row -->
            </div> <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->



